<!DOCTYPE>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">

  <style>
    body {
      background-image: url("/img/weather.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  </style>
</head>

<body class="text-center">
  <p class="fs-2 text-center text-white">Welcome to the 'Your weather' app</p>
  <a href="/location" class="btn btn-primary stretched-link">Get your weather</a>
  {{>footer}}
</body>

</html>